{% if site.footer-links.dribbble %}<a class="social-link" href="https://dribbble.com/{{ site.footer-links.dribbble }}">dribble &middot; </a>{% endif %}
{% if site.footer-links.email %}<a class="social-link" href="mailto:{{ site.footer-links.email }}">email &middot; </a>{% endif %}
{% if site.footer-links.facebook %}<a class="social-link" href="https://www.facebook.com/{{ site.footer-links.facebook }}">facebook &middot; </a>{% endif %}
{% if site.footer-links.flickr %}<a class="social-link" href="https://www.flickr.com/{{ site.footer-links.flickr }}">flickr &middot; </a>{% endif %}
{% if site.footer-links.github %}<a class="social-link" href="https://github.com/{{ site.footer-links.github }}">github &middot; </a>{% endif %}
{% if site.footer-links.instagram %}<a class="social-link" href="https://instagram.com/{{ site.footer-links.instagram }}">instagram &middot; </a>{% endif %}
{% if site.footer-links.linkedin %}<a class="social-link" href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}">linkedin &middot; </a>{% endif %}
{% if site.footer-links.pinterest %}<a class="social-link" href="https://www.pinterest.com/{{ site.footer-links.pinterest }}">pinterest &middot; </a>{% endif %}
{% if site.footer-links.rss %}<a class="social-link" href="{{ site.baseurl }}/feed.xml">rss &middot; </a>{% endif %}
{% if site.footer-links.stackoverflow %}<a class="social-link" href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}">stackoverflow &middot; </a>{% endif %}
{% if site.footer-links.youtube %}<a class="social-link" href="https://youtube.com/{{ site.footer-links.youtube }}">youtube &middot; </a>{% endif %}
{% if site.footer-links.googleplus %}<a class="social-link" href="https://plus.google.com/{{ site.footer-links.googleplus }}">gplus &middot; </a>{% endif %}
{% if site.footer-links.twitter %}<a class="social-link" href="https://www.twitter.com/{{ site.footer-links.twitter }}">Twitter</a>{% endif %}