
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: rgba(0,0,0,0.87);
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;
$josefin: 'Josefin Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', serif;
$raleway: 'Raleway', serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}